/* Sección con fondo negro */
section.bg-black {
    background-color: #000000;
    /* Fondo negro */
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    /* Sombra ligera */
}

/* Título en blanco */
section h2 {
    color: #d40808;
    /* Texto blanco */
    font-size: 1.5rem;
}

/* Íconos de redes sociales */
section img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease;
}

section img:hover {
    transform: scale(1.1);
    /* Efecto de zoom al pasar el ratón */
    opacity: 0.8;
    /* Opacidad reducida */
}

/* Estilo para el texto */
section .text-center p {
    font-size: 1rem;
    color: #dedde6;
    /* Texto blanco */
    margin-bottom: 8px;
}

/* Texto secundario en gris claro */
section .text-gray-300 {
    color: #0db94f;
    /* Gris claro */
}

/* Títulos de los campos de contacto */
.contact-form label {
    color: rgb(255, 255, 255);
  }
  
  /* Texto en los campos de entrada (nombre, correo electrónico, mensaje) */
  .contact-form input, .contact-form textarea {
    color: white;
    background-color: #333;  /* Ajuste el color de fondo si es necesario */
  }
  
  /* Texto de los botones */
  .contact-form button {
    color: rgb(15, 1, 10);
    background-color: #d2dfd0; /* Rojo */
  }
  
  